// pywal generisane boje
@import "/home/r6n/.cache/wal/colors.scss";
.entry {
    background-color: transparent;
}

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font", monospace;
    background-color: transparent;
    box-shadow: none;
    color: unset;
    border: none;
    background-image: none;
}

$bg: #1a1a1a;
$primary: #8b2e2e;
$secondary: #4a5744;
$accent: #ffae00;
$text-light: #c2c2c2;
$text-light2: #a8a8a8;
$text-gray: #7a7a7a;
$details: #4f5b66;

$background-transparent: rgba(21, 24, 29, 0.7);
$background-trans: rgba(red($background), green($background), blue($background), .9);
// $background-transparent: $background;
$yellow-soft: #cc8b00;
$danger-yellow: rgba(255, 174, 0, 0.6);
$danger-yellow-fade: rgba(255, 174, 0, 0.2);
$transparent: rgba(255, 0, 0, 0);
$sys-label: #4a5744;
$weather-soft: #4a5744;
$weather-light: #c2c2c2;
$sys-label-size: 18px;
$bg: $background-trans;
$fan-hl-bg: linear-gradient(to left, $bg, $bg 10px, $color5 4px, $color5 );

// WEATHER

.weather-container {
    all: unset;
    background-color: $bg;
    border-radius: 4px;
    padding: 10px;
}

.temp-box {
    padding-left: 20px;   
}

.icon-weather {
    font-family: "Iosevka Nerd Font";
    font-size: 72px;
}

.label-location {
    font-size: 22px;
    // color: $text-light;
    color: $foreground;
}

.label-temp {
    font-size: 48px;
    // color: $accent;
    color: $color1;
}

.label-stat {
    font-size: 24px;
    padding-left: 20px;
    // color: $details;
    color: $color6;
}

// SYS INFO

.sysinfo-container {
    border-radius: 4px;
    
    .sysinfo {
        padding: 10px;
    }
    
    .sysinfo-gpu, .sysinfo-ram, .sysinfo-cpu, scale trough {
        all: unset;
        min-height: 8px;
        margin: 0px;
        background: none;
        
        .gpu-slider, .cpu-slider {
            min-height: 14px;
            background-color: $bg;
            border: 3px solid $bg;
            margin-right: 0px;
            // border-top: 4px solid $bg;
            border-left: none;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .mem-slider {
            min-height: 12px;
            background-color: $bg;
            border: 3px solid $bg;
            margin-right: 0px;
            border-left: none;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 4px;
        }

        .gpu-slider-fan, .cpu-slider-fan {
            background-color: $color6;
            margin-left: 0px;
            border: 3px solid $color6;
            border-right: none;
            border-left: none;
            border-top-left-radius: 2px;
            border-top: 2px solid $bg;
            padding-top: 3px;
            border-bottom-left-radius: 2px;
        }
    }

    .mem-details {
        min-height: 16px;
        font-size: 14px;
        background-color: $color6;
        color: $bg;
        border-radius: 0px;
        border-top-right-radius: 4px;
        font-weight: bold;
        margin-left: 0px;
        border-top: 2px solid $bg;
        border-right: 2px solid $bg;
        // -gtk-icon-transform: rotate(25);
    }

        
    .sysinfo-gpu, .sysinfo-ram, .sysinfo-cpu, scale trough highlight {
        all: unset;
        border-radius: 0px;
    }
    
    .sysinfo-gpu scale trough{
        // border: 2px solid #4a5744;
    }
    .sysinfo-cpu scale trough{
        // border: 2px solid #ffae00;
    }
    .sysinfo-ram scale trough{
        // border: 2px solid #8b2e2e;
    }
    
    .gpu-label {
        background-color: $bg;
        color: $foreground;
        padding: 0 18px 0 10px;
        font-size: $sys-label-size;
        margin: 0;
        border-radius: 4px;
        border-bottom-right-radius: 0;
    }
    .middle-body .gpu-slider trough highlight {
        background: $color3;
        border-radius: 2px;
    }
    .middle-body .gpu-slider-fan trough highlight {
        border-radius: 2px;
        background-color: $color6;
        background-image: linear-gradient(to left, $bg, $bg 10px, $color6 4px, $color6 );
        background-size: 14px 100%;
        background-position: top right;
    }
    .middle-body .cpu-slider-fan trough highlight {
        border-radius: 2px;
        background-color: $color6;
        background-image: linear-gradient(to left, $bg, $bg 10px, $color6 4px, $color6 );
        background-size: 14px 100%;
        background-position: top right;
    }
    .gpu-label-fan, .cpu-label-fan {
        background-color: $color6;
        padding: 0px 6px 0px 10px;
        font-size: $sys-label-size;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 2px;
        margin: 0;
        border: 2px solid $bg;
        border-left: none;
        color: $bg;
    }
            
    .cpu-label {
        background-color: $bg;
        color: $foreground;
        padding: 0 18px 0 10px;
        font-size: $sys-label-size;
        margin: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .sysinfo-cpu scale trough highlight {
        background: $color1;
        border-radius: 2px;
    }
                    
    .ram-label {
        background-color: $bg;
        color: $foreground;
        padding: 0 18px 0 10px;
        font-size: $sys-label-size;
        margin: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .sysinfo-ram scale trough highlight {
        background: $color6;
        border-radius: 2px;
    }
}
                                
// HEADER

.info-container {
    
    .info {
        // background-color: $background-transparent;
        background-color: $bg;
        padding: 0 10px;
        border-radius: 4px;
        margin: 0;
        
        .user {
            // color: $text-light;
            color: $foreground;
            margin-top: 4px;
            font-size: 22px;
        }
        
        .space-box {
            .icon {
                // color: $primary;
                color: $color1;
                font-size: 48px;
            }
            
            .disk-usage {
                // color: $details;
                color: $color6;
                margin-bottom: 5px;
                font-size: 24px;
            }
        }
    }
    
    
    .clock-box {
        border: 8px solid $color6;
        // border: 8px solid $color5;
        border-radius: 4px;
        
        .clock {
            font-size: 48px;
        }
            
        .hour {
            background-color: $color6;
            color: $bg;
            padding: 0 10px;
        }
        
        .min {
            // color: $text-light2;
            // color: $background;
            color: $color6;
            padding: 0 10px;
            font-weight: bold;
            background-color: $bg;
        }
    }
}

// CALENDAR

.cal-container {
    // background-color: $background-transparent;
    background-color: $bg;
    // color: $text-gray;
    color: $foreground;
    // border-bottom: 4px solid $color6;
    border-radius: 4px;
}

calendar {
    background-color: transparent;
    background: none;
}
calendar:selected {
    // color: $accent;
    color: $color1;
}
calendar.header {
    // color: $accent;
    color: $color1;
}
calendar.button {
    // color: $accent;
    color: $color1;
}
calendar.highlight {
    // color: $text-light;
    color: $color6;
}
calendar.indeterminate {
    // color: $accent;
    color: $color1;
}

// APPS

.apps-container {
}

.btn {
    font-size: 36px;
    // color: $text-gray;
    color: $color8;
    color: $foreground;
    // background-color: $background-transparent;
    background-color: $bg;
    // border-left: 4px solid rgba(0, 0, 0, 0);
    // border-bottom: 4px solid $color1;
    padding-right: 10px;
    border-radius: 4px;
    transition: all 0.3s;
}
.btn:hover {
    // color: $accent;
    color: $color1;
}

.search-box {
    background-color: $bg;
    padding: 6px;

    .icon {
        color: $background;
        background-color: $color6;
        font-size: 24px;
        padding: 0 10px 0 6px;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input {
        border: 4px solid $color6;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 18px;
        color: $foreground;
    }
}

// AUDIO VISUALISER
.cava-container {
    background-color: $background;
    margin: 10px;
    // alignment: center;
}

.bar {
    background-color: #88c0d0;
    min-width: 4px;
    border-radius: 2px;
    transition: height 0.08s ease-in-out;
}