@import 'colors-waybar.css';

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background: transparent;
}

window#waybar {
    background: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    border: none;
}

/* MOJE */

.modules-left,
.modules-right,
.modules-center 
{
    background-color: shade(alpha(@background, 0.9), 1.25);
    border-radius: 4px;
    color: @foreground;
}

#workspaces {
    border-radius: 4px;
    font-size: 0px;
    padding: 0px;
    font-weight: 600;
    color: @foreground;
    margin: 0 4px;
}

button {
    background: transparent;
    color: @foreground;
}

#workspaces button {
    all: unset;
    min-width: 14px;
    min-height: 14px;
    padding: 4px 6px;
    margin: 6px 2px;
    border: none;
    box-shadow: inset 0 0 0 4px @color8;
    transition: all 0.3s;
}

#workspaces button.active {
    background: @background;
    box-shadow: inset 0 0 0 4px @color1;
    font-weight: bold;
    padding: 4px 20px;
}

#clock,
#battery,
#cpu,
#custom-gpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    all: unset;
    padding: 0 10px;
    color: @foreground;
}

#pulseaudio,
#network {
    /* background-color: @background; */
    /* box-shadow: inset 0 0 0 4px @foreground; */
    box-shadow: inset 0 -2px 0 0 @color6;
    /* border-radius: 2px; */
    margin: 0px 0px;
    font-size: 18px;
    transition: all 0.3s;
}

#pulseaudio:hover,
#network:hover {
    /* box-shadow: inset 0 0 0 4px @foreground; */
    box-shadow: inset 0 -2px 0 0 @color1;
}

#network {
    /* padding-right: 20px; */
}

#custom-power {
    all: unset;
    padding: 0px 8px 0px 13px;
    /* margin: 4px 4px; */
    border-radius: 2px;
    /* box-shadow: inset 0 0 0 4px @color8; */
    background-color: @color6;
    color: @background;
    transition: all 0.3s;
}

#custom-power:hover {
    /* box-shadow: inset 0 0 0 4px @foreground; */
    background-color: @color1;
    /* color: @color1; */
}

#custom-logo {
    background-image: url("file:///home/r6n/Downloads/biohazard-64.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 32px;
    min-height: 32px;
    padding: 0px 8px;
    margin-left: 0px;
    border-radius: 4px;
}

/* MOJE */